@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.bank-app {
    display: none;
    height: 100%;
    width: 100%;
    background: rgb(233, 233, 233);
    overflow: hidden;
}

.bank-app-header {
    position: absolute;
    width: 100%;
    height: 13vh;
    margin-top: 55.5vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.bank-texto {
    position: absolute;
    margin-left: 5%;
    line-height: 12.5vh;
    color: rgba(23, 23, 23, 90%);
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 1.5vh;
}

.bank-app-header-button {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;
    line-height: 6vh;
    font-family: 'Poppins', sans-serif;
    color: rgba(23, 23, 23, 90%);
    transition: .08s;
}

.bank-app-header-button-selected {
    border-top: .3vh solid #652b2c;
    color: #652b2c;
}
.bank-app-header-button > i {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: .9vh;
    font-size: 2vh;
}
.bank-app-header-button > p {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 1.4vh;
    font-size: 1.25vh;
}

.bank-app-accounts {
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
    top: 8vh;
    left: 30vh;
    
}
.bank-app-accounts2 {
    display: block;
    position: absolute;
    width: 100%;
    height: 40%;
    top: 13vh;
    left: 30vh;
    
}
.bank-app-invoices {
    display: block;
    position: absolute;
    width: 100%;
    height: 47vh;
    top: 8vh;
    left: 30vh;
}
.bank-app-invoices-list {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.bank-app-invoices-list::-webkit-scrollbar {
    width: .5vh;
}

.bank-app-invoices-list::-webkit-scrollbar-thumb:hover {
    background-color: #813233;
}

.bank-app-invoices-list::-webkit-scrollbar-thumb {
    background-color: #652b2c;
    border-radius: 5px;
}

.bank-app-invoices-list::-webkit-scrollbar-track {
    background-color: transparent;
}

.bank-app-invoice {
    position: relative;
    background: rgb(245,182,44);
background: linear-gradient(341deg, rgba(245,182,44,1) 0%, rgba(255,222,0,1) 100%);
    height: 7vh;
    width: 90%;
    margin: 0.75vh auto;
    left: 0px;
    right: 0px;
    top: 1.5vh;
    transition: all 0.1s ease 0s;
    border-radius: 0.55rem;
    letter-spacing: .05vh;
    
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px
}

.bank-app-invoice:hover {
    transform: scale(1.01);
}
.bank-app-invoice-title {
    text-transform : capitalize;
    position: absolute;
    top: 1vh;
    left: 2vh;
    color: rgba(23, 23, 23, 90%);
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3vh;
}
.bank-app-invoice-amount {
    position: absolute;
    bottom: 1vh;
    left: 2vh;
    color: rgba(23, 23, 23, 90%);
    font-family: 'Poppins', sans-serif;
    font-size: 1.22vh;
}
.bank-app-invoice-buttons {
    position: absolute;
    right: -1.7vh;
    bottom: .1vh;
    height: 3vh;
    width: 7vh;
    text-align: center;
    line-height: 3.5vh;
}
.bank-app-invoice-buttons > i {
    margin-left: .5vh;
    margin-right: .5vh;
    font-size: 2vh;
}
.pay-invoice {
    color: rgba(23, 23, 23, 90%);
    transition: .1s;
}
.pay-invoice:hover {
    transform: scale(1.01);
}
.decline-invoice {
    color: #e84118;
    transition: .1s;
}
.decline-invoice:hover {
    color: #ff5f38;
}
.bank-app-transfer {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    top: -100%;
    z-index: 500;
}


.bank-app-account2 {
    position: absolute;
    background: rgb(0,90,161);
    background: linear-gradient(342deg, rgba(0,90,161,1) 0%, rgba(0,161,83,1) 100%);
    height: 15.5vh;
    width: 50%;
    margin: 0px auto;
    right: 5%;
    top: 18.5vh;
    transition: all 0.1s ease 0s;
    border-radius: 0.55rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.bank-app-account2:hover{
    transform: scale(1.01);
    transition: .5s ease;
}
.bank-app-account2-title {
    position: absolute;
    top: 5.5vh;
    left: 2.5vh;
    font-family: 'Poppins', sans-serif;
    letter-spacing: .1vh;
    color: rgba(23, 23, 23, 90%);
    font-weight: bold;
    text-align: center;
    font-size: 1.1vh;
}
.bank-app-account2-number {
    position: absolute;
    top: 3vh;
    left: 1vh;
    font-family: 'Poppins', sans-serif;
    letter-spacing: .1vh;
    width: 100%;
    color: rgba(23, 23, 23, 90%);
    font-weight: bold;
    font-size: 1.1vh;
    background: transparent;
    outline: none;
    border: none;
}
.bank-app-account2-number::selection {
    background: transparent;
    outline: none;
    border: none;
    color: rgba(23, 23, 23, 90%);
    font-weight: bold;
}
.bank-app-account2-balance {
    position: absolute;
    top: 12.5vh;
    left: 1vh;
    font-family: 'Poppins', sans-serif;
    letter-spacing: .1vh;
    color: rgba(23, 23, 23, 90%);
    font-weight: bold;
    font-size: 1.5vh;
}
.bank-app-account2-actions {
    text-align: center;
    color: rgba(23, 23, 23, 90%);
    margin: 0px auto;
    bottom: 70.5%;
    height: 3.5vh;
    width: 25%;
    right: 35.5%;
    line-height: 3.4vh;
    font-size: 1.2vh;
    position: absolute;
    transition: all 0.1s ease 0s;
    background-color: rgba(232, 232, 232, 0.6);
    border-radius: 4.55rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.bank-app-account2-actions:hover {
    transform: scale(1.01);
    transition: .5s ease;
}


.bank-app-account3 {
    position: absolute;
    background: rgb(116,18,20);
background: linear-gradient(60deg, rgba(116,18,20,1) 0%, rgba(251,102,102,1) 100%);
    height: 15.5vh;
    width: 35%;
    margin: 0px auto;
    left: 5%;
    top: 18.5vh;
    transition: all 0.1s ease 0s;
    border-radius: 0.55rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.bank-app-account3:hover{
    transform: scale(1.01);
    transition: .5s ease;
}
.bank-app-account3-title {
    position: absolute;
    top: 5.5vh;
    left: 1vh;
    font-family: 'Poppins', sans-serif;
    letter-spacing: .1vh;
    color: rgba(23, 23, 23, 90%);
    font-weight: bold;
    text-align: center;
    font-size: 1.1vh;
}
.bank-app-account3-number {
    position: absolute;
    top: 3vh;
    left: 1vh;
    font-family: 'Poppins', sans-serif;
    letter-spacing: .1vh;
    width: 100%;
    color: rgba(23, 23, 23, 90%);
    font-weight: bold;
    font-size: 1.1vh;
    background: transparent;
    outline: none;
    border: none;
}
.bank-app-account3-number::selection {
    background: transparent;
    outline: none;
    border: none;
    color: rgba(23, 23, 23, 90%);
    font-weight: bold;
}
.bank-app-account3-balance {
    position: absolute;
    top: 12.5vh;
    left: 1vh;
    font-family: 'Poppins', sans-serif;
    letter-spacing: .1vh;
    color: rgba(23, 23, 23, 90%);
    font-weight: bold;
    font-size: 1.5vh;
}
.bank-app-account3-actions {
    text-align: center;
    color: rgba(23, 23, 23, 90%);
    margin: 0px auto;
    bottom: 70.5%;
    height: 3.5vh;
    width: 35%;
    right: 32.5%;
    line-height: 3.4vh;
    font-size: 1.2vh;
    position: absolute;
    transition: all 0.1s ease 0s;
    background-color: rgba(232, 232, 232, 0.6);
    border-radius: 4.55rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.bank-app-account3-actions:hover {
    transform: scale(1.01);
    transition: .5s ease;
}



.bank-app-account4 {
    position: absolute;
    background: rgb(74,162,29);
background: linear-gradient(341deg, rgba(74,162,29,1) 0%, rgba(91,210,30,1) 100%);
    height: 10.5vh;
    width: 90%;
    margin: 0px auto;
    left: 5%;
    top: 35.5vh;
    transition: all 0.1s ease 0s;
    border-radius: 0.55rem;
    box-shadow: rgba(100, 100, 111, 0.2) 29px 29px 29px 29px;
}
.bank-app-account4:hover{
    transform: scale(1.01);
    transition: .5s ease;
}
.bank-app-account4-title {
    position: absolute;
    top: 5.5vh;
    left: 1vh;
    font-family: 'Poppins', sans-serif;
    letter-spacing: .1vh;
    color: rgba(23, 23, 23, 90%);
    font-weight: bold;
    text-align: center;
    font-size: 1.1vh;
}
.bank-app-account4-number {
    position: absolute;
    top: 3vh;
    left: 1vh;
    font-family: 'Poppins', sans-serif;
    letter-spacing: .1vh;
    width: 100%;
    color: rgba(23, 23, 23, 90%);
    font-weight: bold;
    font-size: 1.1vh;
    background: transparent;
    outline: none;
    border: none;
}
.bank-app-account4-number::selection {
    background: transparent;
    outline: none;
    border: none;
    color: rgba(23, 23, 23, 90%);
    font-weight: bold;
}
.bank-app-account4-balance {
    position: absolute;
    top: 12.5vh;
    left: 1vh;
    font-family: 'Poppins', sans-serif;
    letter-spacing: .1vh;
    color: rgba(23, 23, 23, 90%);
    font-weight: bold;
    font-size: 1.5vh;
}
.bank-app-account4-actions {
    text-align: center;
    color: rgba(23, 23, 23, 90%);
    margin: 0px auto;
    bottom: 60.5%;
    height: 3.5vh;
    width: 15%;
    right: 42.5%;
    line-height: 3.4vh;
    font-size: 1.2vh;
    position: absolute;
    transition: all 0.1s ease 0s;
    background-color: rgba(232, 232, 232, 0.6);
    border-radius: 4.55rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.bank-app-account4-actions:hover {
    transform: scale(1.01);
    transition: .5s ease;
}


.bank-app-account {
    position: absolute;
    background: rgb(253,29,29);
    background: linear-gradient(342deg, rgba(253,29,29,1) 0%, rgba(252,176,69,1) 100%);
    height: 15.5vh;
    width: 90%;
    margin: 0px auto;
    left: 0px;
    right: 0px;
    top: 1.5vh;
    transition: all 0.1s ease 0s;
    border-radius: 0.55rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.bank-app-account:hover{
    /*background-color: #652b2c;*/
    transform: scale(1.01);
    transition: .5s ease;
}
.bank-app-account-title {
    position: absolute;
    top: 1vh;
    left: 1vh;
    font-family: 'Poppins', sans-serif;
    letter-spacing: .1vh;
    color: rgba(23, 23, 23, 90%);
    font-weight: bold;
    font-size: 1.1vh;
}
.bank-app-account-title2 {
    position: absolute;
    top: 2.5vh;
    left: 1vh;
    font-family: 'Poppins', sans-serif;
    letter-spacing: .1vh;
    color: rgba(23, 23, 23, 90%);
    font-weight: bold;
    font-size: 1vh;
}
.bank-app-account-number {
    position: absolute;
    top: 3vh;
    left: 1vh;
    font-family: 'Poppins', sans-serif;
    letter-spacing: .1vh;
    width: 100%;
    color: rgba(23, 23, 23, 90%);
    font-weight: bold;
    font-size: 1.1vh;
    background: transparent;
    outline: none;
    border: none;
}
.bank-app-account-number::selection {
    background: transparent;
    outline: none;
    border: none;
    color: rgba(23, 23, 23, 90%);
    font-weight: bold;
}
.bank-app-account-balance {
    position: absolute;
    top: 12.5vh;
    left: 1vh;
    font-family: 'Poppins', sans-serif;
    letter-spacing: .1vh;
    color: rgba(23, 23, 23, 90%);
    font-weight: bold;
    font-size: 1.5vh;
}
.bank-app-account-actions {
    text-align: center;
    color: rgba(23, 23, 23, 90%);
    margin: 0px auto;
    bottom: 61.5%;
    height: 4vh;
    width: 15%;
    right: 7%;
    line-height: 4vh;
    font-size: 1.2vh;
    position: absolute;
    transition: all 0.1s ease 0s;
    background-color: rgba(232, 232, 232, 0.6);
    border-radius: 4.55rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.caixa-pastel{
    background: #D3959B;  /* fallback for old browsers */
    background: rgb(116,18,20);
    background: linear-gradient(342deg, rgba(116,18,20,1) 0%, rgba(255,166,168,1) 100%);

    width: 90%;
    height: 32%;
    margin: 0px auto;
    border-radius: 0.55rem;
    margin-top: 37%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.bank-app-account-actions:hover {
    transform: scale(1.01);
    background-color: #652b2c;
    transition: .5s ease;
}
.bank-app-loaded {
    display: none;
    padding-left: 30vh;
}
.bank-app-loading {
    position: absolute;
    top: 0;
    left: 0vh;
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.qbank-logo {
    position: absolute;
    width: 10vh;
    margin: 0 auto;
    left: 0vh;
    right: 0;
    top: 22vh;
    z-index: 101;
}
#qbank-text {
    position: absolute;
    top: 24vh;
    left: 9vh;
    font-size: 4.5vh;
    color: rgba(23, 23, 23, 90%);
    font-family: 'Poppins', sans-serif;
    z-index: 100;
    opacity: 0;
}

.bank-app-transfer-header {
    position: absolute;
    top: 5.5vh;
    left: 6vh;
    color: rgba(23, 23, 23, 90%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 2vh;
}

#bank-transfer-iban {
    display: none;
    position: absolute;
    top: 9.4vh;
    left: 4vh;
    background: none;
    border: none;
    outline: none;
    border-bottom: 2px solid rgba(23, 23, 23, 90%);;
    font-family: 'Poppins', sans-serif;
    height: 1.5vh;
    width: 40%;
    text-indent: .4vh;
    transition: .1s;
    font-size: 1.3vh;
    color: rgba(23, 23, 23, 90%);;
}
#bank-transfer-iban::-webkit-inner-spin-button {
    display: none;
}
#bank-transfer-iban:focus {
    border-bottom: 2px solid #fbc531;
}
#bank-transfer-iban:valid {
    border-bottom: 2px solid #6ab04c;
}
#bank-transfer-amount {
    display: none;
    position: absolute;
    top: 11.5vh;
    left: 4vh;
    background: none;
    border: none;
    outline: none;
    border-bottom: 2px solid rgba(23, 23, 23, 90%);
    font-family: 'Poppins', sans-serif;
    /* background: rgb(33,36,43); */
    /* background: linear-gradient(0deg, rgba(33,36,43,0.5) 0%, rgba(178,132,254,0) 100%); */
    height: 1.5vh;
    width: 40%;
    text-indent: .4vh;
    transition: .1s;
    font-size: 1.3vh;
    color: rgba(23, 23, 23, 90%);;
}
#bank-transfer-amount::-webkit-inner-spin-button {
    display: none;
}

#bank-transfer-amount:focus {
    border-bottom: 2px solid #fbc531;
}

#bank-transfer-amount:valid {
    border-bottom: 2px solid #6ab04c;
}
.bank-transfer-iban-icon  {
    position: absolute;
    top: 13.5vh;
    left: 3.4vh;
    font-size: 2.1vh;
    background-color: #413281;
    color: rgba(23, 23, 23, 90%);
}
.bank-transfer-amount-icon  {
    position: absolute;
    top: 19.2vh;
    left: 3.5vh;
    font-size: 2.4vh;
    color: rgba(23, 23, 23, 90%);
}
.bank-transfer-mycontacts-icon  {
    position: absolute;
    top: 25.5vh;
    left: 3.5vh;
    font-size: 2.2vh;
    color: rgba(23, 23, 23, 90%);
}
.bank-transfer-mycontacts-icon:hover {
    color: #fbc531;
}
.bank-app-transfer-buttons {
    position: absolute;
    bottom: 40px;
    height: 5vh;
    width: 100%;
}
.bank-app-transfer-button {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;
    line-height: 4.5vh;
    font-family: 'Poppins', sans-serif;
    color: rgba(23, 23, 23, 90%);
    font-size: 1.4vh;
    transition: .1s;
}
.bank-app-transfer-button:hover {
    border-top: .2vh solid #652b2c;
}
.bank-app-my-contacts {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    top: -100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 500;
}

.bank-app-my-contacts::-webkit-scrollbar {
    display: none;
}

.bank-app-my-contacts-list::-webkit-scrollbar {
    display: none;
}

.bank-app-my-contacts-header {
    position: relative;
    padding: 5vh 0 0 8vh;
    font-family: 'Poppins', sans-serif;
    font-size: 2vh;
    color: rgba(23, 23, 23, 90%);
}

.bank-app-my-contact-search::placeholder{
    color: rgba(23, 23, 23, 90%);
}

.bank-app-my-contacts-list {
    position: absolute;
    height: 65%;
    width: 90%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 14vh;
    
    overflow-y: scroll;
}
.bank-app-my-contact {
    position: relative;
    width: 98%;
    left: 2px;
    height: 4.5vh;
    transition: all 0.1s ease 0s;
    background: rgba(233, 233, 233, 90%);
    border-radius: 0.55rem;
    margin-top: 2px;
    margin-bottom: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px
}
.bank-app-my-contact:hover {
    background-color: rgb(233, 233, 233);
    transform: scale(1.01);
}
.bank-app-my-contact-firstletter {
    position: absolute;
    background-color: #eb4d4b;
    height: 3.5vh;
    width: 3.5vh;
    margin: .4vh;
    margin-left: .35vh;
    text-align: center;
    line-height: 3.6vh;
    border-radius: 50%;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.teste-iban::placeholder {
    color: rgba(23, 23, 23, 90%);
    font-size: 1vh;
    font-weight: bold;
}

.bank-app-my-contact-name {
    position: absolute;
    left: 5vh;
    line-height: 4.5vh;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4vh;
    font-weight: 900;
    color: rgba(23, 23, 23, 90%);
}
.bank-app-my-contacts-list-header {
    position: absolute;
    top: 8.5vh;
    height: 5vh;
    width: 100%;
    border-radius: 0.55rem;
}
#bank-app-my-contact-search {
    position: absolute;
    border: none;
    top: 1.2vh;
    width: 17vh;
    margin: 0px auto;
    left: 0px;
    font-weight: 900;
    right: 0px;
    color: rgba(23, 23, 23, 90%);
    opacity: 1;
    height: 2.5vh;
    border-radius: 0.55rem;
    font-family: Poppins, sans-serif;
    outline: none;
    text-indent: 1vh;
    z-index: 100;
    background: rgba(233, 233, 233, 90%);
    border-radius: 0.15rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px
}
#bank-app-my-contact-search::placeholder{
    font-family: 'Poppins', sans-serif;
    color: rgba(23, 23, 23, 90%);
}
.bank-app-my-contacts-list-back {
    position: absolute;
    bottom: 40px;
    width: 100%;
    height: 5vh;
    text-align: center;
    line-height: 5vh;
    text-transform: uppercase;
    color: #eb4d4b;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4vh;
    transition: .1s;
}
.bank-app-my-contacts-list-back:hover {
    color: #f06f6c;
    transform: scale(1.01);
}
/*
.jarda2-number {
    text-align: center;
    color: rgba(23, 23, 23, 90%);
    margin: 0px auto;
    bottom: 73.5%;
    height: 3.5vh;
    width: 13%;
    left: 10%;
    line-height: 3.4vh;
    font-size: 1.2vh;
    position: absolute;
    transition: all 0.1s ease 0s;
    background-color: rgba(232, 232, 232, 0.6);
    border-radius: 4.55rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.jarda3-number {
    text-align: center;
    color: rgba(23, 23, 23, 90%);
    margin: 0px auto;
    bottom: 63.5%;
    height: 3.5vh;
    width: 13%;
    left: 10%;
    line-height: 3.4vh;
    font-size: 1.2vh;
    position: absolute;
    transition: all 0.1s ease 0s;
    background-color: rgba(232, 232, 232, 0.6);
    border-radius: 4.55rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.jarda4-number {
    text-align: center;
    color: rgba(23, 23, 23, 90%);
    margin: 0px auto;
    bottom: 53.5%;
    height: 3.5vh;
    width: 13%;
    left: 10%;
    line-height: 3.4vh;
    font-size: 1.2vh;
    position: absolute;
    transition: all 0.1s ease 0s;
    background-color: rgba(232, 232, 232, 0.6);
    border-radius: 4.55rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}*/

.jarda2-number {
    display: none;
    text-align: center;
    color: rgba(23, 23, 23, 90%);
    margin: 0px auto;
    bottom: 30.5%;
    height: 1.5vh;
    width: 10%;
    left: 10%;
    line-height: 1.65vh;
    font-size: 0.8vh;
    position: absolute;
    transition: all 0.1s ease 0s;
    background-color: rgba(232, 232, 232, 0.6);
    border-radius: 4.55rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.jarda3-number {
    display: none;
    text-align: center;
    color: rgba(23, 23, 23, 90%);
    margin: 0px auto;
    bottom: 18.5%;
    height: 1.5vh;
    width: 10%;
    left: 10%;
    line-height: 1.65vh;
    font-size: 0.8vh;
    position: absolute;
    transition: all 0.1s ease 0s;
    background-color: rgba(232, 232, 232, 0.6);
    border-radius: 4.55rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.jarda4-number {
    display: none;
    text-align: center;
    color: rgba(23, 23, 23, 90%);
    margin: 0px auto;
    bottom: 5.5%;
    height: 1.5vh;
    width: 10%;
    left: 10%;
    line-height: 1.65vh;
    font-size: 0.8vh;
    position: absolute;
    transition: all 0.1s ease 0s;
    background-color: rgba(232, 232, 232, 0.6);
    border-radius: 4.55rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.jarda5-number {
    position: absolute;
    display: none;
    text-align: center;
    color: rgba(23, 23, 23, 90%);
    margin: 0px auto;
    top: 28.5vh;
    height: 1.5vh;
    width: 5%;
    left: 85%;
    line-height: 1.45vh;
    font-size: 0.8vh;
    position: absolute;
    transition: all 0.1s ease 0s;
    background-color: rgba(232, 232, 232, 0.6);
    border-radius: 4.55rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.jarda6-number {
    display: none;
    text-align: center;
    color: rgba(23, 23, 23, 90%);
    margin: 0px auto;
    bottom: 5.5%;
    height: 1.5vh;
    width: 10%;
    left: 80%;
    line-height: 1.65vh;
    font-size: 0.8vh;
    position: absolute;
    transition: all 0.1s ease 0s;
    background-color: rgba(232, 232, 232, 0.6);
    border-radius: 4.55rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

