@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.lawyers-app {
    display: none;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: rgb(233, 233, 233);
}

.lawyers-header {
    position: absolute;
    width: 100%;
    height: 12vh;
    top: 0;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8vh;
}

.lawyers-header > p {
    line-height: 12vh;
    text-indent: 2vh;
    margin: 0 0 0 9vh;
}

.lawyers-header > span {
    position: absolute;
    top: 8vh;
    left: 9vh;
    font-size: 1.2vh;
    height: 2vh;
    color: white;
}

.lawyers-list {
    position: absolute;
    width: 90%;
    height: 77%;
    margin: 0 auto;
    left: 0;
    right: 0;
    font-weight: bold;
    bottom: 5%;
    border-radius: .5vh;
    overflow-y: scroll;
}

.lawyers-list::-webkit-scrollbar {
    display: none;
}

.partejobs {
    margin-top:0.1vh !important;
}

.lawyer-list {
    position: relative;
    width: 95%;
    height: 6vh;
    margin: 2.5%;
    background: rgb(233, 233, 233);
    border-radius: 0.55rem;
    border: 2px solid rgb(169, 169, 169);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.lawyer-list-firstletter {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 3.5vh;
    height: 3.5vh;
    background-color: rgb(42, 137, 214);
    text-align: center;
    left: 1vh;
    line-height: 3.5vh;
    border-radius: 50%;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8vh;
    color: rgba(23, 23, 23, 90%);;
}

.lawyer-list-fullname {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5.5vh;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vh;
    max-width: 14vh;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    color: rgba(23, 23, 23, 90%);
}

.lawyer-list:hover{
    transform: scale(1.01);
}

.no-lawyers {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Poppins', sans-serif;
    font-size: 1.2vh;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    max-width: 14vh;
    color: rgba(23, 23, 23, 90%);
}

.lawyer-list-call {
    color: rgba(23, 23, 23, 90%);
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
    right: 2vh;
    font-size: 2vh;
    transform: rotate(90deg);
    transition: .08s ease-in-out;
}

.lawyer-list-call:hover {
    color: rgb(49, 214, 60);
    opacity: .8;
    cursor: pointer;
}
