@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.whatsapp-app {
    display: none;
    height: 100%;
    width: 100%;
    background: white;
    overflow: hidden;
}

.whatsapp-header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 9vh;
    box-shadow: 0 6px 4px -2px rgba(0, 0, 0, 0.35);
}
.whatsapp-header-top {
    position: relative;
    height: 4.5vh;
    width: 100%;
    background-color: rgba(0,128,105,255);
    box-shadow: 0 6px 4px -2px rgba(0, 0, 0, 0.35);
}
.whatsapp-header-footer {
    position: relative;
    height: 4.5vh;
    width: 100%;
    background-color: rgba(0,128,105,255);
    /*border-bottom: 0.2vh solid rgba(197, 196, 196, 0.9);*/
    box-shadow: 0 6px 4px -2px rgba(0, 0, 0, 0.35);
}
.whatsapp-header-footer > p {
    padding-top: 1.3vh;
    padding-left: 2vh;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vh;
}

.whatsapp-header ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
  }

#whatsapp-search-input {
    display: none;
    position: absolute;
    background: none;
    border: none;
    background: rgb(226, 226, 226);
    top: .7vh;
    width: 17vh;
    margin: 0 auto;
    height: 2.5vh;
    border-radius: 1vh;
    box-shadow: 0 0 .2vh 0 rgba(0, 0, 0, 0.281);
    font-family: 'Poppins', sans-serif;
    outline: none;
    text-indent: 1vh;
    z-index: 100;

    right: 4vh;
    top: 0.95vh;
    width: 12vh;
}

#whatsapp-search-input3 {
    display: none;
    position: absolute;
    background: none;
    border: none;
    background: rgb(226, 226, 226);
    top: .7vh;
    width: 17vh;
    margin: 0 auto;
    height: 2.5vh;
    border-radius: 1vh;
    box-shadow: 0 0 .2vh 0 rgba(0, 0, 0, 0.281);
    font-family: 'Poppins', sans-serif;
    outline: none;
    text-indent: 1vh;
    z-index: 100;

    right: 5vh;
    top: 0.95vh;
    width: 12vh;
}

.custom-grupo-input {
    position: absolute;
    left: 1vh;
    background: none;
    border: none;
    outline: none;
    height: 3.5vh;
    width: 21vh;
    bottom: 14vh;
    font-family: 'Poppins', sans-serif;
    background: rgb(235, 235, 235);
    border-radius: 2vh;
    text-align: center;
}

.custom-grupo-input::placeholder {
    color: black;
    text-align: center;
}

.custom-grupo3-input {
    position: absolute;
    left: 1vh;
    background: none;
    border: none;
    outline: none;
    height: 3.5vh;
    width: 21vh;
    bottom: 14vh;
    font-family: 'Poppins', sans-serif;
    background: rgb(235, 235, 235);
    border-radius: 2vh;
    text-align: center;
}

.custom-grupo3-input::placeholder {
    color: black;
    text-align: center;
}

.custom-grupo-button {
    position: relative;
    float: left;
    height: 100%;
    width: 50%;
    text-align: center;
    line-height: 4.1vh;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vh;
    transition: .08s;
    border-bottom: 2px solid #e8421800;
}

.custom-grupo-button:hover {
    font-weight: bolder;
    color: #054640;
}

.custom-grupo2-input {
    position: absolute;
    left: 1vh;
    background: none;
    border: none;
    outline: none;
    height: 3.5vh;
    width: 21vh;
    bottom: 9vh;
    font-family: 'Poppins', sans-serif;
    background: rgb(235, 235, 235);
    border-radius: 2vh;
    text-align: center;
}

.custom-grupo2-input::placeholder {
    color: black;
    text-align: center;
}

.custom-grupo4-input {
    position: absolute;
    left: 1vh;
    background: none;
    border: none;
    outline: none;
    height: 3.5vh;
    width: 21vh;
    bottom: 9vh;
    font-family: 'Poppins', sans-serif;
    background: rgb(235, 235, 235);
    border-radius: 2vh;
    text-align: center;
}

.custom-grupo4-input::placeholder {
    color: black;
    text-align: center;
}

.whatsapp-search-input2 {
    display: none;
    position: absolute;
    height: 40%;
    width: 80%;
    background-color: rgb(245, 245, 245);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 18vh;
    border-radius: 2vh;
    overflow: hidden;
}


.whatsapp-search-input5 {
    display: none;
    position: absolute;
    height: 40%;
    width: 80%;
    background-color: rgb(245, 245, 245);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 10.8vh;
    border-radius: 2vh;
    overflow: hidden;
}

.whatsapp-chats {
    position: absolute;
    width: 100%;
    height: 83%;
    top: 9vh;
    background: white;
    overflow-y: scroll;
    overflow-x: hidden !important;
}

.whatsapp-chats::-webkit-scrollbar {
    position: absolute;
    width: .6vh;
}

.whatsapp-chats::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

.whatsapp-chats::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.664);
    border-radius: 1vh 0 0 1vh;
}


.whatsapp-grupos {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 9vh;
    background: #009dff;
    overflow-y: scroll;
    overflow-x: hidden !important;
}

.whatsapp-grupos::-webkit-scrollbar {
    position: absolute;
    width: .6vh;
}

.whatsapp-grupos::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

.whatsapp-grupos::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.664);
    border-radius: 1vh 0 0 1vh;
}

.whatsapp-chat-unreadmessages {
    display: none;
    position: absolute;
    right: 1vh;
    top: 3.1vh;
    width: 1.8vh;
    height: 1.8vh;
    background-color: rgba(0,128,105,255);
    border-radius: 50%;
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1vh;
    line-height: 1.9vh;
}

.whatsapp-chat {
    position: relative;
    width: 100%;
    height: 7vh;
    color: white;
    /*border-bottom: 0.1vh solid #1f2c34;*/
    background: transparent;
    transition: all 0.15s ease 0s;
}
.whatsapp-grupo {
    position: relative;
    width: 100%;
    height: 7vh;
    color: white;
    border-bottom: 0.1vh solid #009dff;
    background: #009dff;
    transition: all 0.15s ease 0s;
}
.whatsapp-chat:hover {
    background: rgba(197, 196, 196, 0.9);
    transform: scale(1.01);
}
.whatsapp-chat-picture {
    position: absolute;
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    top: 1vh;
    left: 1vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.whatsapp-openedchat-picture {
    position: absolute;
    height: 3.5vh;
    width: 3.5vh;
    background: gray;
    border-radius: 50%;
    top: .5vh;
    left: 3.5vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.whatsapp-chat-name {
    position: absolute;
    top: 1.35vh;
    left: 7vh;
    color: rgba(23, 23, 23, 90%);
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vh;
    letter-spacing: 1px;
}
.whatsapp-chat-lastmessage {
    position: absolute;
    bottom: .6vh;
    left: 7vh;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1vh;
    color: rgba(23, 23, 23, 90%);
    max-width: 17vh;
}
.whatsapp-chat-lastmessage > p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.whatsapp-chat-lastmessagetime {
    position: absolute;
    top: 1.35vh;
    right: 1vh;
    font-family: 'Poppins', sans-serif;
    font-size: 1vh;
    color: rgba(23, 23, 23, 90%);
}

.whatsapp-openedchat {
    display: none;
    position: absolute;
    top: 0;
    left: -30vh;
    height: 100%;
    width: 100%;
    background-image: url('../img/apps/whatsapp-chat.png');
    background-repeat: no-repeat;
    background-size: inherit;
}

.whatsapp-openedgrupo {
    display: none;
    position: absolute;
    top: 0;
    left: -30vh;
    height: 100%;
    width: 100%;
    background-image: url('../img/apps/whatsapp-chat.png');
    background-repeat: no-repeat;
    background-size: inherit;
}

#whatsapp-openedchat-back {
    position: absolute;
    line-height: 5.5vh;
    top: -.4vh;
    left: 1.4vh;
    color: white;
    transition: .1s;
}
#whatsapp-openedchat-back:hover {
    color: rgb(197, 197, 197);
}
.whatsapp-openedchat-name {
    position: absolute;
    line-height: 5.5vh;
    top: -.4vh;
    left: 8vh;
    color: white;
    font-size: 1.5vh;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vh;
}
.whatsapp-header-openedchat{
    position: absolute;
    top: 0;
    width: 100%;
    height: 9vh;
    background-color: rgba(7, 94, 84, 0);
}
.whatsapp-header-top-openedchat {
    position: relative;
    height: 4.5vh;
    width: 100%;
    background-color: rgba(0,128,105,255);
}
.whatsapp-header-footer-openedchat {
    position: relative;
    height: 4.5vh;
    width: 100%;
    background-color: rgba(0,128,105,255);
    box-shadow: 0 6px 4px -2px rgba(0, 0, 0, 0.35);
}
.whatsapp-header-footer-openedchat > p {
    padding-top: 1.3vh;
    padding-left: 2vh;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vh;
}

.whatsapp-extra-buttons {
    display: none;
    position: absolute;
    left: -10vh;
}

.whatsapp-extra-buttons2 {
    display: none;
    position: absolute;
    right: -10vh;
    top: -0.85vh;
}
.whatsapp-openedchat-input {
    position: absolute;
    bottom: 2.27vh;
    width: 100%;
    height: 10vh;
}

.wpp-gallery-homescreen2 {
    display: none;
    position: absolute;
    height: 80%;
    width: 100%;
    border-radius: 0.55rem;
    left: 1%;
    top: 22%;
    background-color: rgba(255, 255, 255, 0.48);
    border-top:2.5px solid rgba(0,128,105,255);
    backdrop-filter: blur(4.5px);
    z-index: 100;
    transition: .1s linear;
}

.tumbnail-wpp{
    width: 100%;
    
    border-radius: 0.3vh;
    border-radius: 5px;
    
}

.wpp-gallery-homescreen {
    display: none;
    position: absolute;
    height: 72.5%;
    width: 100%;
    border-radius: 0.55rem;
    overflow-y: scroll;
    transition: .1s linear;
}

.wpp-gallery-images {
    position: absolute;
    width: 94.5%;
    height: 14.2vh;
    /* background-color: rgba(0, 0, 0, 0.1); */
    top: 1.5vh;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.wpp-gallery-homescreen::-webkit-scrollbar {
    display: none;
}

.wpp-gallery-album {
    font-family: 'Poppins', sans-serif;
    font-size: 1.4vh;
    font-weight: 500 !important; 
    color: rgba(0,128,105,255);
   
}

.whatsapp-extra-button {
    background: none;
    border: none;
    background: rgba(0,128,105,255);
    color: white;
    width: 3.5vh;
    height: 3.5vh;
    border-radius: 1vh;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4vh;
    z-index: 100;
    top: 1.3vh;
    left: .8vh;
    float: left;
    margin-right: 1vh;
    position: relative;
    text-align: center;
    transition: .1s linear;
}
.whatsapp-extra-button:hover {
    background: #054640;
}
.whatsapp-extra-button > i {
    line-height: 3.5vh;
    font-size: 1.5vh;
}

.whatsapp-extra-button2 {
    background: none;
    border: none;
    background: white;
    color: rgba(0,128,105,255);
    width: 3.5vh;
    height: 3.5vh;
    border-radius: 1vh;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4vh;
    z-index: 100;
    top: 1.3vh;
    left: .8vh;
    float: left;
    margin-right: 1vh;
    position: relative;
    text-align: center;
    transition: .1s linear;
}
.whatsapp-extra-button2:hover {
    background: rgba(255, 255, 255, 0.8);
}
.whatsapp-extra-button2 > i {
    line-height: 3.5vh;
    font-size: 1.5vh;
}

#whatsapp-openedchat-message {
    position: absolute;
    border: none;
    background: white;
    margin: 0px auto;
    height: 3.5vh;
    border-radius: 3vh;
    font-family: Poppins, sans-serif;
    font-size: 1.4vh;
    outline: none;
    text-indent: 3vh;
    z-index: 100;
    top: 5.75vh;
    left: 0.8vh;
    width: 23vh;
    color: rgba(23, 23, 23, 90%);
}

#whatsapp-openedchat-message::placeholder {
    color: rgba(23, 23, 23, 90%);
    font-weight: 600;
}


#whatsapp-openedchat-send {
    position: absolute;
    top: 5.75vh;
    right: 1.1vh;
    color: white;
    text-align: center;
    line-height: 3.5vh;
    background: rgba(0,128,105,255);
    font-size: 1.5vh;
    width: 3.5vh;
    height: 3.5vh;
    border-radius: 1vh;
    text-indent: -0.4vh;
    transition: all 0.15s ease 0s;
}
#whatsapp-openedchat-send:hover {
    background: #054640;
}
#whatsapp-openedchat-message-extras {
    position: absolute;
    left: 1.2vh;
    z-index: 100;
    top: 6.3vh;
    font-size: 1.5vh;
    width: 2.6vh;
    height: 2.6vh;
    text-align: center;
    line-height: 2.5vh;
    border-radius: 50% 0% 0px 50%;
    color: rgba(23, 23, 23, 90%);
    transition: all 0.2s ease 0s;
}
#whatsapp-openedchat-message-extras:hover {
    color: #054640;
}

#whatsapp-openedchat-message-extras2 {
    position: absolute;
    right: 1.2vh;
    z-index: 100;
    top: 1.1vh;
    font-size: 1.5vh;
    width: 2.6vh;
    height: 2.6vh;
    text-align: center;
    line-height: 2.5vh;
    border-radius: 50% 0% 0px 50%;
    color: white;
    transition: all 0.2s ease 0s;
}
#whatsapp-openedchat-message-extras2:hover {
    color: #054640;
}

.whatsapp-openedchat-messages {
    position: absolute;
    height: 70%;
    width: 99%;
    top: 10vh;
    margin: 0 auto;
    left: 0;
    right: 0;
    overflow-y: scroll;
}

.whatsapp-openedchat-messages::-webkit-scrollbar {
    position: absolute;
    width: .3vh;
}
.whatsapp-openedchat-messages::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}
.whatsapp-openedchat-messages::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.664);
    border-radius: 1vh 0 0 1vh;
}

.whatsapp-openedchat-message{
    position: relative;
    width: fit-content;
    max-width: 80%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    height: auto;
    margin-top: .7vh;
    padding: .4vh;
    text-indent: .3vh;
    transition: .1s linear;
}
.whatsapp-shared-location:hover {
    opacity: .8;
    transition: .1s linear;
}
.whatsapp-openedchat-message-me {
    background: rgba(231,255,219,255);
    color: rgba(23, 23, 23, 90%);
    font-weight: 600;
    border-radius: 5px 0px 0px 5px;
    float: right;
}

.whatsapp-openedchat-message-other {
    background: white;
    font-weight: 600;
    color: rgba(23, 23, 23, 90%);
    border-radius: 5px 5px 5px 5px;
    left: .3vh
}
.whatsapp-openedchat-message-time {
    font-size: 1.1vh;
    text-align: right;
    padding-left: 3.7vh;
    margin-top: -0.25vh;
    font-family: 'Poppins', sans-serif;
    color: #99999b;
}
.unique-chat {
    position: relative;
    width: 100%;
    margin-bottom: 1vh;
    top: 0;
}
.whatsapp-openedchat-date {
    position: sticky;
    top: 0.2vh;
    z-index: 2;
    margin: 0.2vh auto 0.7vh;
    text-align: center;
    background: white;
    width: fit-content;
    padding: 0.4vh;
    height: 2vh;
    font-family: 'Poppins', sans-serif;
    font-size: 1vh;
    border-radius: 0.4vh;
    text-transform: uppercase;
    font-weight: 600;
    color: rgba(23, 23, 23, 90%);
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
.clearfix {
    display: block;
}

#popup {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
    z-index: 1001;
}

.popupclass {
    margin:0px auto;
    margin-top:15.08vh;
    position:relative;
    margin-right: 1.9%;
    padding:0.75vh;
    width:27.5vh;
    min-height:18.92vh;
    border-radius:0.30vh;
}

.emojionearea.emojionearea-inline {
    height: 34px;
    width: 68%;
    top: 65px;
    left: 40px;
    background-color: #2d383e;
}

.emojionearea.emojionearea-inline>.emojionearea-editor {
    height: 32px;
    min-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    top: 0;
    left: 12px;
    right: 24px;
    color: white;
    padding: 6px 0;
}

.emojionearea .emojionearea-button.active + .emojionearea-picker-position-top {
    margin-top: -269px;
    left: -40px;
}

.emojionearea.focused {
    border-color: #245247;
}